services:
  postgres:
    image: postgres:16-alpine
    container_name: user-api-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: user_api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
